html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: sticky;
    top: 0;
    z-index: 1000;
    flex-wrap: wrap;
}

.logo {
    border: 2px solid white;
    padding: 10px, 20px;
    display: flex;
    align-items: center; 
    justify-content: flex-start; 
    justify-items: space-around;
    width: 300px; 
    height: 100px; 
    box-sizing: border-box;
}

.logo img {
    width: 150px;
    height: auto;
    margin-right: 10px;
}

.title {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.title h1, .title h2 {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

.title h1 {
    font-size: 1.5rem;
}

.title h2 {
    font-size: 1rem;
    color: white;
}

.navbar-container {
    overflow: hidden;
    position: sticky;
    top: 0;
    font-size: 1.75rem;
    padding: 4px;
    z-index: 1000;
    color: white;
}

.navbar ul {
    display: flex;
    justify-content: space-around;
    gap: 7vw;
    align-items: center;
    padding: 10px 10px;
    list-style-type: none;
}

.navbar a {
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
}

.navbar a:hover {
    color: rgb(90, 138, 211);
    transition: all 0.3s ease;
    text-decoration: none;
}

.header {
    background-color: #f4f4f4;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: #333;
}

main h1 {
    font-size: 48px;
    margin-bottom: 0px;
}

main img {
    width: 400px;
    height: 400px;
    margin-bottom: 20px ;
}

.subtitle {
    font-size: 1.5rem;
    margin-top: 2px;
    color: #333;
}

.main-content {
    padding: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.about-section, .interests-section, .links-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 50vh;
}

h2 {
    font-size: 32px;
    color: #333;
}


p {
    font-size: 16px;
    color: #333;
}

li {
    font-size: 16px;
    color: #333;
}

a {
    color: darkblue;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
    color: #5492cf;
}

.footer {
    background-color: #333;
    overflow: hidden;
    position: sticky;
    bottom: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding: 4px;
    color: white;

}

.footer p {
    font-size: 1rem;
    color: white;
}
