h1 {
    font-size: 24px;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h2 {
    font-size: 20px;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


img {
    width: 400px;
    height: 400px;
    border: 1px solid #000;
}

p {
    font-size: 16px;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

li {
    font-size: 16px;
    color: #333;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    color: #0066cc;
    text-decoration: none;
    display: inline-block;
}

a:hover {
    text-decoration: underline;
    color: darkblue;
}